@model PagedList<Albums.Models.AlbumEntryData>

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .collapsible {
            background-color: #777;
            color: white;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
        }

        .userPostPopupBox {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .user-post-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
                
        .active, .collapsible:hover {
            background-color: #555;
        }

        .content {
            padding: 0 18px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            background-color: #f1f1f1;
        }
    </style>
</head>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search by name or title: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Album Thumbnail
            </th>
            <th>
                Title
            </th>
            <th>
                User's Name
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th>
                Address
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Url.Content(item.AlbumThumbnails[0].AlbumThumbnailPath)" alt="Image" />
                </td>
                <td>
                    <button class="collapsible">
                        @Html.DisplayFor(modelItem => item.AlbumTitle)
                    </button>
                    <div class="content">
                        @foreach (var albumThumbnail in item.AlbumThumbnails)
                        { 
                            <figure>
                                <img src="@Url.Content(albumThumbnail.AlbumThumbnailPath)" alt="Image" />
                                <figcaption>@Html.DisplayFor(modelItem => albumThumbnail.AlbumPhotoTitle)</figcaption>
                            </figure>
                        }
                    </div>
                </td>
                <td>
                    <button id="userButton">
                        @Html.DisplayFor(modelItem => item.Name)
                    </button>
                    <div id="userPostPopup" class="userPostPopupBox">
                        <div class="user-post-content">
                            <span class="close">&times;</span>    
                            <table>
                                @foreach (var post in item.Posts)
                                { 
                                    <tr>
                                        <td>
                                            <h6>
                                                @Html.DisplayFor(modelItem => post.Title)
                                            </h6>
                                            <p>
                                                @Html.DisplayFor(modelItem => post.Body)
                                            </p>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    // Get the modal
    var modal = document.getElementById("userPostPopup");

    // Get the button that opens the modal
    var btn = document.getElementById("userButton");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>

@{
    var prevDisabled = !Model.HasPrevious ? "disabled" : "";
    var nextDisabled = !Model.HasNext ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.CurrentPage - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>

<a asp-action="Index"
   asp-route-pageNumber="@(Model.CurrentPage + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>